h1 {
    color : white
}
.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
p,h2{
    text-align: center;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
